.about#about
    .container
        .row.align-items-center.justify-content-center
            .col-lg-6.col-xl-6.col-md-6
                img(src="../assets/images/about/business-about.jpg", alt="img")
            .col-lg-6.col-xl-6.col-md-6.txt-center.pd-all
                h3 We combine design, thinking and craft.
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry’s standard dummy text since.
                a(href="#").btn.btn-black Explore More 